# Appwrite Cloud settings
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://[YOUR_APPWRITE_ENDPOINT]
NEXT_PUBLIC_APPWRITE_PROJECT_ID=[YOUR_PROJECT_ID]

# Optional: set to the URL where your app is hosted for Appwrite OAuth redirects
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APPWRITE_PROJECT_ID=6a809d2c002e5ec21c03
NEXT_PUBLIC_APPWRITE_PROJECT_NAME=Agency Core
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
